.dairyWriterSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  height: 1240px;

  .dairyWriterBackWrapper {
    width: 100%;
    height: 80%;

    .dairyWriterWrapper {
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;

      .dairyWriterTitleContainer {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;

        .BtnBox {
          flex-basis: 20%;
          display: flex;
          width: 100%;
          Button {
            width: 100px;
            margin-right: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .dairyWriterSection {
    width: 95%;
    .dairyWriterBackWrapper {
      width: 100%;
      .dairyWriterWrapper {
        .dairyWriterTitleContainer {
          .BtnBox {
            width: 200px;
            Button {
              margin-right: 2px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dairyWriterSection {
    .dairyWriterBackWrapper {
      .dairyWriterWrapper {
        .dairyWriterTitleContainer {
          .BtnBox {
            Button {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .dairyWriterSection {
    .dairyWriterBackWrapper {
      .dairyWriterWrapper {
        .dairyWriterTitleContainer {
          .BtnBox {
            flex-direction: column;
            scale: 0.8;
            margin-bottom: 10px;
            Button {
              margin: 2px;
            }
          }
        }
      }
    }
  }
}
