.writeButton {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.Delete_planet_box {
  position: relative;
  height: 30px;
  width: 80px;
  text-align: center;
  background-color: rgb(19, 12, 126);
  left: 85%;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
}
.Delete_planet {
  color: #fff;
}

.Diary_main_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1250px) {
  .writeButton {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
  }
  .Delete_planet_box {
    position: relative;
    height: 30px;
    width: 80px;
    left: 85%;
    bottom: 4%;

    margin-bottom: 10px;
  }
  .Delete_planet {
    font-size: 11px;
  }
}
.Diary_main_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .writeButton {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
  }
  .Delete_planet_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30px;
    width: 80px;
    left: 85%;
    bottom: 4%;
    margin-bottom: 10px;
  }
  .Delete_planet {
    font-size: 11px;
  }
  .Diary_main_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .bottom_div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .bottom_div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Diary_main_box {
    width: 100%;
    a {
      width: 100%;
    }
  }
}
