.makePlanetSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45rem;
  height: 45rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 5rem;
  padding-top: 1rem;
  border-radius: 15px;
  .makePlanetContainer {
    height: 100%;
  }
  .planetBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .MakeMemberBtnBox {
    display: flex;
    justify-content: end;
    height: 50px;
    margin: 2px;
  }
}
.no_scroll {
  overflow: auto !important;
}

#fp-nav {
  display: none;
}

@media (max-width: 768px) {
  .makePlanetSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 55rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 5rem;
    padding-top: 1rem;
    border-radius: 15px;
    .makePlanetContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }
    .planetBox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
}
