.modalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modalBox1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  font-size: 25px;
  font-weight: 500;
  border: solid 1px rgb(216, 216, 216, 0.5);
  border-radius: 15px 15px 0px 0px;
}

.modalBox2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 15px 15px;
}

.modalBox3 {
  width: 100%;
  height: 100%;
  border: solid 1px rgb(216, 216, 216, 0.5);
  border-radius: 0px 0px 0px 15px;
}

.modalBox4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: solid 1px rgb(216, 216, 216, 0.5);
  border-radius: 0px 0px 15px 0px;
}

.modalInputBox {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 4rem;
}

.modalInput {
  height: 100%;
  width: 25rem;
  padding: 1rem;
  box-sizing: border-box;
}

.modalInputTitle {
  width: 5rem;
  margin: 1rem;
  box-sizing: border-box;
}

.modalModifyBtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
.modalModifyBtn {
  width: 4.5rem;
  height: 2.2rem;

  border-radius: 12% 12% / 12% 12%;
  color: #fff;
  border: solid 1px rgba(55, 54, 54, 0.721);
  background-color: rgb(5, 5, 110);
  font-weight: 20;
  margin: 2px;
}

.resetPwBtn {
  border: solid black 1px;
  border-radius: 15px;
  padding: 5px;
  margin-left: 10px;
  box-sizing: border-box;
}

@media (max-width: 1250px) {
  .css-hps5by {
    width: 60% !important;
  }

  .modalBox3 {
    min-width: 120px;
    flex-basis: 20%;
  }

  .modalInputBox {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 4rem;
  }

  .modalInput {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .css-hps5by {
    width: 80% !important;
  }

  .modalBox2 {
    flex-direction: column;
  }
  .modalBox3 {
    border-radius: 0px;
  }

  .modalModifyBtnBox {
    height: 100%;
  }
}

@media (max-width: 500px) {
  .resetPwBtn {
    margin-left: 0px;
  }
}
