.starMap_wrap {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;

  #starMap {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.starMap_wrap_Main {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80rem;

  #starMap {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.starMap_wrap_MakePlanet {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 140vh;

  #starMap {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.starMap_wrap_workSpace {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120vh;

  #starMap {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
