.mainContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 1200px;
  height: 1200px;
  margin: 0 auto;

  .mainWrapperLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-basis: 200px;

    .mainLeftTop {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 5rem;
      background-color: rgb(255, 255, 255);
      border: solid 1px rgb(240, 240, 240);
      border-radius: 10px 0px 0px 0px;
    }
    .mainLeftBottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 55rem;
      background-color: rgb(255, 255, 255);
      border: solid 1px rgb(240, 240, 240);
      border-radius: 0px 0px 0px 10px;
    }
  }

  .mainWrapperRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100%;
    margin: 0 auto;
    flex-basis: 1000px;

    .mainRightTop {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 5rem;
      background-color: rgb(255, 255, 255);
      border: solid 1px rgb(240, 240, 240);
      border-radius: 0px 10px 0px 0px;
      .mainRightTop_content {
        margin-left: 10px;
        font-weight: 1000;
      }
    }
    .mainRightBottom {
      overflow: scroll;
      display: flex;
      width: 100%;
      height: 55rem;
      background-color: rgb(255, 255, 255);
      border-radius: 0px 0px 10px 0px;
      .contentWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-left: 1px solid #f4f3f3;
        padding: 20px 30px;
      }
    }
  }
}
@media (max-width: 1250px) {
  .mainContainer {
    width: 95%;
    .mainWrapperLeft {
      flex-basis: 200px;
      min-width: 200px;
    }
  }
}
@media (max-width: 768px) {
  .mainContainer {
    width: 100%;
    flex-direction: column;

    .mainWrapperLeft {
      width: 95%;
      display: flex;
      justify-content: end;

      .mainLeftTop {
        display: none;
      }

      .mainLeftBottom {
        border-radius: 0;
        height: auto;
      }
    }

    .mainWrapperRight {
      width: 95%;
      display: flex;
      justify-content: start;
      height: 100%;

      .mainRightTop {
        display: none;

        .mainRightTop_content {
          margin-left: 10px;
          font-weight: 1000;
        }
      }

      .mainRightBottom {
        width: 100%;
        border-radius: 0;
        .Delete_planet_box {
          left: 0;
          bottom: 0;
          margin: 30px 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .mainContainer {
    width: 100%;
  }

  // 카테고리 박스 넓이 조정
  .mainContainer .mainWrapperLeft {
    width: 95%;
  }

  // content 박스 넓이 조정
  .mainContainer .mainWrapperRight {
    width: 95%;
  }
  // 카테고리 높이 조정
  .mainContainer .mainWrapperLeft .mainLeftBottom {
    height: auto;
    border-radius: 0;
  }

  // contentWrapper 패딩 조정
  .mainContainer .mainWrapperRight .mainRightBottom .contentWrapper {
  }

  .mainContainer .mainWrapperRight .mainRightBottom {
    border-radius: 0;
  }

  .mainContainer .mainWrapperRight .mainRightBottom .Delete_planet_box {
    left: 0;
    bottom: 0;
    // margin-bottom: 0;
    margin: 30px 0;
  }
}
